<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/users/login}" method="post">
  <label>Username:</label>
  <input type="text" name="username" required><br><br>

  <label>Password:</label>
  <input type="password" name="password" required><br><br>

  <button type="submit">Login</button>
</form>

<p th:if="${param.error}">Invalid username or password</p>
<p>Don't have an account? <a th:href="@{/users/register}">Register here</a></p>
</body>
</html>
